{% extends "layout.html" %}

{% block title %}Page Not Found | {% endblock %}

{% block hero_unit %}
<div class="hero-unit btn-danger text-center">
    <h3>Page Not Found</h1>
    <p>What you were looking for is just not there.</p>
    <a class="btn btn-success" href="{{url_for('index')}}">go somewhere nice</a>
</div>
{% endblock %}