{% extends "layout.html" %}

{% block title %}Auth App | {% endblock %}

{% block content %}

    {% if config.FACEBOOK %}
        <a class="btn btn-success" href="">FaceBook</a>
    {% endif %}

    {% if config.SINAWEIBO %}
        <a class="btn btn-success" href="{{url_for('weibo.auth_app')}}">新浪微博</a>
    {% endif %}

    {% if config.TWITTER %}
        <a class="btn btn-success" href="">Twitter</a>
    {% endif %}

{% endblock %}