{% extends "layout.html" %}

{% block hero_unit %}
{% endblock %}
{% block content %}
<a id="btn1" class="btn" href="{{url_for('auth_app')}}" onclick='$.get("http://baidu.com")'>获取登陆认证_01</a>
<button id="btn2" class="btn" onclick="get_weibo()">获取登陆认证_02</button>
<div class="myDiv1"></div>
{% endblock %}

</head>

</html>
