<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}TweOne</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/tweone.js')}}"></script>
</head>

<body>
<div class="container">
    <div class="row top-buffer"></div>
    {% block hero_unit %}
        <div class="hero-unit text-center">
            <h1>TweOne 正在开发中...</h1>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
</body>

<footer>
</footer>
</html>